#celule1 {
    width:300px;
    background-color: aquamarine;
}

#celule2 {
    width:200px;
    background-color: antiquewhite;
}

#celule3 {
    width:300px;
    background-color: blueviolet;
}

#celule4 {
    width:300px;
    background-color: blue;
}