.container1 {
    width:100%;
    height:50vh;
    position:relative;
    font-size: 24px;
}

.box01 {
    width:60%;
    height:20vh;
    background-color: #fff;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:20%;
    text-align: center;
    border:5px solid black;
    padding:30vh;
}

.in {
    position: absolute;
    top:20%;
    padding:20px;
    font-size: 24px;
    text-align: center;
}

input {
   font-size: 24px;
   text-align: center;
}

/*.reponse {
    
}*/

