*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color:rgb(89, 89, 89);
}
.corp {
    width:1000px;
    background-color: beige;
}

table,tr,td {
    width:100%;
    height: 100%;
    border: black solid 2px;
    padding:15px;
    text-align: center;
    vertical-align: middle;
}

.trtitre {
    font-size: 22px;
    font-weight: bolder;
}

label {
    padding:10px;
}

input {
    width:20px;
    height:20px;
}

bj"
bj2
bc"
bc2
ba"
ba2
bs"
bs2
"bg"
"bg2
bo"
bo2
bt"
bt2
bf"
bf2
bh"
bh2
"bp"
"bp2
bb"
bb2
bz"
bz2
bca"
bca2
/*mettre a la bonne taille */