.corp {
    width:800px;
    background-color: beige;
}

table,tr,td {
    width:100%;
    height: 100%;
    border: black solid 2px;
    padding:15px;
    text-align: center;
    vertical-align: middle;
}

.checkbox {
    width : 15px;
    height : 15px;
}

